@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #E5CFAB;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 30px;
    background-color: #1D7874;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: white;
}

.input {
    height: 30px;
    width: 350px;
    border-radius: 5px;
    border: 4px solid white;
}

.mes {
    width: 350px;
    border-radius: 5px;
    border: 4px solid white;
}

.button {
    background-color: #E5CFAB;
    color: white;
    border-radius: 20px;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    border: 4px solid #FFFFFF;
    margin: 4px 2px;
    cursor: pointer;
}