body {
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 400px 400px 200px;
    gap: 20px;
    grid-template-areas: 'h h h h' 'm m m a' 'm m m s' 'f f f f';
}

.header {
    background-color: lightslategray;
    grid-area: h;
}

.main {
    background-color: lightslategray;
    grid-area: m;
}

.aside {
    background-color: lightslategray;
    grid-area: a;
}

.section {
    background-color: lightslategray;
    grid-area: s;
}

.footer {
    background-color: lightslategray;
    grid-area: f;
}

@media (min-width:300px) and (max-width:1023px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 400px 400px 200px 200px;
        grid-template-areas: 'h h ' 'm m' 'a a' 's s' 'f f';
    }
}